<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
  <div class="auth-container">
    <h2>Connexion</h2>

    <!-- Messages flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <p class="flash {{ category }}">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" class="auth-form">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Mot de passe" required>
    <button type="submit" class="auth-btn">Se connecter</button>
    </form>

    <p class="auth-footer">Don't have an account yet ? <a href="{{ url_for('register') }}">Sign-up !</a></p>

  </div>
</body>
</html>
